.img-text{
    margin-left: 50px;
  }
  .thumbnail{
    display: flex;
    width: 100%;
    margin-top: 20px;
    object-fit: contain;
    /* object-position: right;
    border-width: 2px;
    border-style: solid;
    border-color: red; */
  }

  .width-img{
    width: 200px;
    height: 150px;
    margin-left: 5px;
    border-radius: 8px;
  }
  .square-img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-left: 30px;
  }
  .circle-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    margin-left: 30px;
  }
  .search-bar{
    margin-left: 50px;
    font-size: 16px;
     border-width: 1px;
     border-style: solid;
     border-color: rgb(200, 200, 200);
     padding-top: 12px;
     padding-bottom: 12px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 8px;
  }
  .shadow-search{
    width: 500px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
     margin-left: 20px;
     }
     .text{
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 2px;
      margin-left: 50px;
     }
     .email-bar{
      width: 180px;
      margin-left: 50px;
      margin-bottom: 2px;
     }
     .term{
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 50px;
      
    }
     .signup-button{
      font-size: 12px;
      background-color: rgb(15, 131, 219);
      margin-left: 50px;
      width: 200px;
      height: 30px;
      color: white;
      border: none;
      border-radius: 50px;

     }
     .profile-picture{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-left: 90px;
        vertical-align: middle;
     }
     .text-box{
      border: none;
      vertical-align: middle;
      margin-left: 10px;
     }
     .tweet-button{
      background-color: rgb(8, 134, 230);
      color: white;
      border: none;
      width: 90px;
      height: 25px;
      border-radius: 12px;
      font-size: 12px;
      vertical-align: middle;
      margin-left: 2px;
     }
     .text-box1,
     .text-box2{
      display: block;
      margin-left: 50px;
     }
     .survey-response{
      width: 220px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 50px;
     }
     .logo{
      width: 200px;
      height: 150px;
      display: inline-block;
      vertical-align: middle; 
      margin-left: 35px;
      border-radius: 10px;
     }
      .text-box3,
     .text-box4{
      
      display: inline-block;
      width: 75px;
      height: 20px;
      margin-bottom: 5px;
      border-color: grey;
      border-width: 1px;
     border-style: solid;
     border-color: rgb(200, 200, 200);
      border-radius: 8px;
     
     }
     .text-box5{
      display: block;
      height: 20px;
      margin-bottom: 5px;
      border-color: grey;
      border-radius: 8px;
      border-width: 1px;
     border-style: solid;
     border-color: rgb(200, 200, 200);
     
     }
     .signup-button2{
      font-size: 15px;
      background-color: rgb(64, 53, 231);
      width: 170px;
      height: 30px;
      color: white;
      border: none;
      border-radius: 7px;
     }
     p {
font-family: Arial;
}

.title {
font-size: 40px;
margin-bottom: 25px;
}

.uber-req input {
display: block;
background-color: rgb(240, 240, 240);
border: none;
margin-bottom: 10px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px;
font-size: 16px;
width: 400px;
}

.destination-textbox {
margin-bottom: 35px;
}

.request-button {
background-color: black;
color: white;
border: none;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
font-size: 16px;
margin-right: 20px;
}

.schedule-button {
background-color: rgb(240, 240, 240);
border: none;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
font-size: 16px;
}  
.red-square{
background-color: red;
width: 100px;
height: 100px;
display: inline-block;
}
.green-circle{
background-color: green;
width: 100px;
height: 100px;
border-radius: 50px;
display: inline-block;
margin-left: 30px;
}
.card{
display: inline-block;
vertical-align: top;
margin-left: 30px;
border-width: 1px;
border-style: solid;
border-color: rgb(150, 150, 150);
width: 250px;
padding-left: 15px;
padding-bottom: 20px;
}
.title {
font-family: Arial;
font-size: 20px;
}
.card-2{
background-color: black;
vertical-align: top;
color: white;
display: inline-block;
font-weight: bold;
margin-left: 30px;
border-width: 1px;
border-style: solid;
border-color: rgb(150, 150, 150);
width: 300px;
padding-left: 15px;
padding-bottom: 20px;
height: 80px;
}
.title2{
width: 250px;
font-size: 14px;
font-weight: lighter;
color: grey;
margin-top: 5px;
margin-bottom: 10px;
}
.tweet-card {
box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
padding-top: 12px;
padding-bottom: 12px;
padding-left: 6px;
padding-right: 6px;
width: 420px;
border-radius: 6px;

}
.profile-pic{
width: 60px;
height: 60px;
object-fit: cover;
border-radius: 30px;
vertical-align: middle;
margin-right: 5px;
}
.text-box6 {
font-size: 18px;
border: none;
width: 250px;
vertical-align: middle;
}

.tweet-button2 {
background-color: rgb(29, 155, 240);
color: white;
border: none;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
border-radius: 30px;
font-size: 16px;
font-weight: bold;
vertical-align: middle;
}
p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .profile {
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-left: 20px;
  }
  
  .profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 4px;
  }
  
  .mutual-friends {
    color: rgb(100, 100, 100);
    margin-left: 8px;
    margin-bottom: 12px;
  }
  
  .add-friend-button {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  .fb-profiles{
    display: inline-block;
    margin-left: 60px;
    margin-right: 15px;
  }
  .user-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
  }
  .channel-picture {
    display: inline-block;
    width: 50px;
    
  }
  .profile-picture {
    width: 45px;
    height: 45px;
     border-radius: 50px;
     vertical-align: middle;
   }
   .user-info{
    display: inline-block;
    width: 200px;
    height: 20px;
    margin-left: 20px;
    vertical-align: top;
   
   }
   .user-name{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
   }
   .user-author,
   .user-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
    
   }
   
   .tweet-card2 {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(150, 150, 150);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    width: 380px;
    height: 60px;
    border-radius: 2px;
    
   }
    .main-content{
      display: flex;
    flex-direction: row;
    background-color: lightblue;
    width: 300px;
    height: 300px;
    }
    .video-preview{
   width: 250px;
   
  
  
    }
    .thumbnail{
      width: 100%;
      display: inline-block; 
      
    }
    .video-title{
      display: inline-block;
      width: 250px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .video-author{
      font-size: 12px;
      margin-top: 2px;
       display: inline-block;
    }
    .video-stats{
      font-size: 12px;
      margin-top: 2px;
      display: inline-block;
    }

   


     